---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Home from '../components/Home.astro';
import Products from '../components/Products.astro';
import AboutUs from '../components/AboutUs.astro';
---

<Layout>
	<!-- Si necesitás agregar algo específico al <head>, lo metés en este slot -->
	<slot slot="head">
		<meta property="og:image" content="/og-image.png" />
	</slot>

	<Navbar />
	<main>
		<Home />
		<Products />
		<AboutUs />
	</main>
</Layout>

<style>
	main {
		display: flex;
		flex-direction: column;
		gap: 5rem;
		padding-top: 4rem;
	}
	section {
		min-height: 100vh;
		padding: 2rem;
		text-align: center;
	}
</style>
