---
import Navbar from '../components/Navbar.astro';
import Home from '../components/Home.astro';
import Products from '../components/Products.astro';
import AboutUs from '../components/AboutUs.astro';
---

<Navbar />
<main>
  <Home />
  <Products />
  <AboutUs />
</main>

<style>
  main {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding-top: 4rem;
  }
  section {
    min-height: 100vh;
    padding: 2rem;
    text-align: center;
  }
</style>
