---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Home from '../components/Home.astro';
import AboutUs from '../components/AboutUs.astro';
import Comunity from '../components/Comunity.astro';
import Socios from '../components/Socios.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
import SliderMembers from "../components/SliderMembers.astro";
---

<Layout>
	<!-- Si necesitás agregar algo específico al <head>, lo metés en este slot -->
	<slot slot="head">
		<meta property="og:image" content="/og-image.png" />
	</slot>

	<Navbar />
	<main>
		<Home />
		<AboutUs />
		<Comunity />
		<SliderMembers />
		<Socios />
		<Contact />
		<Footer />
	</main>
</Layout>

<style>
	main {
		display: flex;
		flex-direction: column;
		gap: 160px;
		padding-top: 0;
	}
	section {
		min-height: 100vh;
		padding: 2rem;
		text-align: center;
	}
</style>
