---

---
 
<section class="aboutContainer" id="about">
  <div class="container">
    <div class="item-2 item-small">
      <h2 class="title">Nuestros Principios</h2>
    </div>
    <div class="item">
      <div class="cardHeader">
        <div class="iconContainer">
          <img
            src="/world_icon.png"
            alt="Icono de Colaboración Global"
            class="cardIcon"
          />
        </div>
        <h3>Nuestra visión</h3>
      </div>
      <p class="cardDescription">
        Promover y capitalizar la innovación colaborativa del talento de Buenos
        Aires en materia de IA con el fin de posicionarla como referente
        regional y global, desde una perspectiva que revalorice la
        sustentabilidad, sostenibilidad, la equidad socioeconómica y la
        perspectiva de género.
      </p>
    </div>
    <div class="item">
      <div class="cardHeader">
        <div class="iconContainer">
          <img
            src="/books_icon.webp"
            alt="Icono de Formación y Crecimiento"
            class="cardIcon"
          />
        </div>
        <h3>Nuestra misión</h3>
      </div>
      <p class="cardDescription">
        Animar a la investigación en IA pensando en el desarrollo y su
        aplicabilidad en el contexto de Buenos Aires, pensando como ecosistema
        local en el impacto beneficio en la ciudadanía y en las posibles
        recomendación para las políticas públicas.
      </p>
    </div>
    <div class="item">
      <div class="cardHeader">
        <div class="iconContainer">
          <img
            src="/shake_hands_icon.png"
            alt="Icono Autonomía con Apoyo"
            class="cardIcon"
          />
        </div>
        <h3>Valores</h3>
      </div>
      <ul class="cardDescription">
        <li>Innovación con impacto social</li>
        <li>Colaboración Global</li>
        <li>Formación y Crecimiento</li>
        <li>Autonomía con Apoyo</li>
        <li>Aprendizaje colectivo, interdisciplinario e intersectorial</li>
      </ul>
    </div>
  </div>
</section>

<style>
  .aboutContainer {
    font-family: "Manrope", sans-serif;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-margin-top: 80px;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    column-gap: 40px;
    row-gap: 110px;
    width: 90%;
    justify-items: center;
    align-items: center;
    justify-content: center;
  }

  .item {
    background-color: #26272b;
    text-align: center;
    border-radius: 10px;
    max-width: 351px;
    height: 339px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
    padding-left: 2.5vw;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    padding-bottom: 5vh;
  }

  .item:hover {
    transform: translateY(-5px);
  }

  /* Este item ocupará el espacio de dos columnas */
  .item-2 {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    /* Ocupa dos columnas */
    display: flex;
  }

  .title {
    font-family: "Manrope", sans-serif;
    font-size: 38px;
    font-weight: 800;
    margin: 0;
    cursor: default;
    background: linear-gradient(
      90deg,
      #fbd207 0%,
      #51ff00 32%,
      #04e9b3 67%,
      #c156ff 100%
    );
    -webkit-background-clip: text;
    /* Asegura que el gradiente se aplique solo al texto */
    color: transparent;
    /* Hace que el texto sea transparente para mostrar el gradiente */
    max-width: 365px;
  }

  .subtitle {
    font-family: "Manrope", sans-serif;
    font-size: 20px;
    font-weight: 800;
    margin: 0;
    cursor: default;
  }

  .leftDescription {
    max-width: 22vw;
    margin: 6vh 0vw 0vh 0vh;
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 16px;
    cursor: default;
  }

  .highlightContent {
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    margin-top: 1vh;
    font-size: 16px;
    cursor: default;
  }

  .highlightOne,
  .highlightTwo {
    font-weight: 700;
    background: linear-gradient(
      90deg,
      #fbd207 0%,
      #51ff00 32%,
      #04e9b3 67%,
      #c156ff 100%
    );
    -webkit-background-clip: text;
    /* Asegura que el gradiente se aplique solo al texto */
    color: transparent;
    /* Hace que el texto sea transparente para mostrar el gradiente */
    letter-spacing: 0.6px;
  }

  .highlightTwo {
    display: block;
  }

  .ctaButton {
    color: #ffffff;
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-size: 16px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-align: center;
    text-decoration: none;
    height: 42px;
    width: 162px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4.5vh;
  }

  .ctaButton:hover {
    background-color: white;
    color: #000106;
    border: 2px solid white;
  }

  .cardHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 2vh;
  }

  .cardHeader h3 {
    font-family: "Manrope", sans-serif;
    font-size: 20px;
    font-weight: 600;
  }

  .iconContainer {
    background-color: rgba(0, 0, 0, 0.26);
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  .cardIcon {
    width: 22px;
    height: 22px;
  }

  .cardDescription {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 16px;
    width: 314px;
    text-align: left;
    color: #dadada;
    padding-right: 1vw;
    line-height: 1.8;
  }

  .cardNumber {
    margin-top: 0px;
    margin-bottom: 0px;
    align-self: end;
    position: absolute;
    bottom: -35px;
    font-family: "Inter", sans-serif;
    font-size: 128px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.1);
    transition:
      color 0.3s ease-in-out,
      background 0.3s ease-in-out;
    right: 5px;
  }

  /* Aplica el degradado cuando el usuario pase por la tarjeta */
  .item:hover .cardNumber {
    background: linear-gradient(90deg, #ffffff 0%, #999999 100%);
    -webkit-background-clip: text;
    color: transparent;
  }

  .highlightTitle {
    font-family: "Manrope", sans-serif;
    font-weight: 800;
    font-size: 32px;
    background: linear-gradient(
      90deg,
      #fbd207 0%,
      #51ff00 32%,
      #04e9b3 67%,
      #c156ff 100%
    );
    -webkit-background-clip: text; /* Asegura que el gradiente se aplique solo al texto */
    color: transparent; /* Hace que el texto sea transparente para mostrar el gradiente */
    letter-spacing: 0.6px;
  }

  @media (max-width: 1400px) {
    .cardDescription {
      font-size: 12px;
      width: auto;
    }

    .item {
      padding-right: 2.5vw;
      height: 275px;
    }

    .cardHeader {
      font-size: 18px;
      text-align: left;
    }

    .cardHeader h3 {
      width: 165px;
    }
  }

  @media (max-width: 1010px) {

  }

  @media (max-width: 898px) {
    .container {
      display: flex;
      flex-direction: column;
    }

    .item-2 {
      padding-left: 15px;
      padding-right: 15px;
    }

    .item-3 {
      padding-left: 15px;
      padding-right: 15px;
    }

    .item {
      padding-right: 6vw;
      padding-left: 6vw;
    }

    .leftDescription {
      max-width: none;
      margin-top: 0;
    }

    .ctaButton {
      width: 35%;
      font-size: 13px;
    }

    .title {
      font-size: 24px;
    }

    .subtitle {
      font-size: 16px;
    }

    .container {
      row-gap: 60px;
    }
    
  }

  @media (max-width: 410px) {
    .cardHeader h3 {
      font-size: 15px;
    }

    .cardDescription {
      font-size: 13px;
    }
  }

  @media (max-width: 350px) {
    .cardHeader h3 {
      font-size: 13px;
    }

    .cardDescription {
      font-size: 11px;
    }

    .ctaButton {
      width: 100%;
    }
  }
</style>
