.conoce-section {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #000;
  padding-bottom: 3rem;
}

.title {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 38px;
  margin-bottom: 100px;
  background: linear-gradient(90deg, #fbd207, #51ff00, #04e9b3, #c156ff);
  -webkit-background-clip: text;
  color: transparent;
  max-width: 228px;
}

.conoceSwiper {
  width: 100%;
  max-width: 1280px;
  margin: auto;
  height: 300px;
  position: relative;
  overflow: hidden;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-wrapper {
  align-items: center;
  transition-property: transform;
}

.slide-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

img {
  border-radius: 1rem;
  object-fit: cover;
  transition: all 0.4s ease-in-out;
}

.main-slide {
  width: 440px;
  height: 248px;
  opacity: 1;
  pointer-events: auto;
}

.side-slide {
  width: 280px;
  height: 160px;
  opacity: 0.4;
  pointer-events: none;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

.fade-edge {
  animation: fadeEdge 0.6s ease-in-out;
}

@keyframes fadeEdge {
  0% {
    opacity: 0;
    transform: scale(0.85);
  }
  100% {
    opacity: 0.4;
    transform: scale(1);
  }
}

/* Máscaras en los bordes */
.fade-mask {
  position: absolute;
  top: 0;
  width: 120px;
  height: 100%;
  z-index: 5;
  pointer-events: none;
}

.fade-mask.left {
  left: 0;
  background: linear-gradient(to right, #000 50%, transparent 100%);
}

.fade-mask.right {
  right: 0;
  background: linear-gradient(to left, #000 50%, transparent 100%);
}

@media (max-width: 768px) {
  .main-slide {
    width: 320px;
    height: 180px;
  }

  .side-slide {
    width: 200px;
    height: 120px;
  }

  .fade-mask {
    width: 80px;
  }
}
