html{
  scroll-behavior: smooth;
}


.header {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  padding: 5px 70px;
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(2px);
  position: fixed;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}

/* Clase que se agregará al hacer scroll */
.header.scrolled {
  background-color: rgba(0, 0, 0, 0.4);
  /* Se aclara */
}

/* Estilo para el logo */
.logo-container {
  display: flex;
  align-items: center;
}

/* Estilo para el texto */
.logo-container img {
  height: 60px;
  width: 100%;
  cursor: pointer;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 100px;
  padding: 0;
  margin: 0;
}

.nav-links li {
  display: inline-block;
}

.nav-item {
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: color 0.3s ease;
}

.nav-item:hover {
  color: #FBD207;
  text-shadow: 0px 0px 10px #FBD20759;
}

.menu-icon {
  display: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

/* Media Query para pantallas pequeñas */
@media (max-width: 790px) {
  .nav {
    position: fixed;
    top: 58px;
    right: 0;
    width: 25%;
    /* Ocupa solo el 60% del ancho */
    height: 160vh;
    background-color: rgba(0, 0, 0, 0.8);
    /* Fondo semitransparente */
    backdrop-filter: blur(2px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Alinear elementos arriba */
    padding: 20px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.3);
  }

  .nav.open {
    transform: translateX(0);
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Alinear texto a la izquierda */
    gap: 15px;
    /* Espacio entre elementos */
    list-style: none;
    width: 100%;
    padding-top: 50px;
    /* Separación desde arriba */
  }

  .nav-item {
    font-size: 16px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s;
    padding: 10px 20px;
    /* Espaciado para mejor clicabilidad */
  }

  .nav-item:hover {
    color: #FBD207;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 15px;
    right: 70px;
    font-size: 30px;
    cursor: pointer;
    color: white;
  }
}

@media (max-width: 768px) {
  .nav {
    width: 35%;
  }

  .logo-container{
    width: 60px;
    height: auto;
  }

  .logo-container img {
    height: 48px;
    width: auto;
  }
}

@media (max-width: 445px) {
  .menu-icon {
    top: 15px;
    right: 24px;
    font-size: 30px;
  }

  .header {
    padding: 5px 24px;
  }

  .nav {
    width: 45%;
  }
}

