.slidercomunidad-section {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25vh;
}

.otrosMiembrosTitle {
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-size: 32px;
  letter-spacing: 4px;
  background: linear-gradient(
    90deg,
    #fbd207 0%,
    #51ff00 32%,
    #04e9b3 67%,
    #c156ff 100%
  );
  -webkit-background-clip: text;
  color: transparent;
  margin-bottom: 8vh;
}

.otrosMiembrosSlider {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  white-space: nowrap; /* Evita saltos en las transiciones */
}

.swiper-wrapper {
  transition-timing-function: linear !important; /* Asegura el desplazamiento fluido */
}

.miembroSlide {
  width: auto;
  display: flex;
  justify-content: center;
}

.cardSlider {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 250px;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
}

.cardSlider img {
  width: 100%;
  height: auto;
  max-width: 250px;
}

.cardSlider-content {
  background-color: #26272b;
  padding: 15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardSlider-content h3 {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 16px;
  margin: 0 0 10px 0;
}

.icon_other img {
  width: 30px;
  height: 30px;
  transition: transform 0.2s ease-in-out;
  margin-top: 1vh;
}

.icon_other img:hover {
  transform: scale(1.1);
}

@media (max-width: 425px) {
  .otrosMiembrosTitle {
    font-size: 24px;
  }

  .cardSlider {
    max-width: 180px;
  }

  .cardSlider img {
    max-width: 180px;
  }

  .cardSlider-content {
    padding: 10px;
  }

  .cardSlider-content h3 {
    font-size: 14px;
  }

  .icon_other img {
    width: 24px;
    height: 24px;
  }
}

@media (max-width: 320px) {
  .otrosMiembrosTitle {
    font-size: 20px;
  }
}
